.footer {
  background-size: cover;
  background-position: center;
  color: #000000;
}

.btn {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.text-muted {
  opacity: 0.7;
}
